* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: 'Silver';
    src: url('../fonts/Silver.woff') format("woff"),
        url('../fonts/Silver.ttf') format("truetype"),
        url('../fonts/Silver.eot') format("embedded-opentype");
}

html,
body {
    font-family: "Roboto", sans-serif;
    background-color: #FFF9E4;
}

.background {
    background-color: #FFF9E4;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.title {
    font-family: "Silver";
    font-size: 80px;
    font-weight: bold;
    margin-top: 160px;
    margin-bottom: 0px;
    text-align: center;
}

.text {
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
}

/* 扛棒 */
.navbar {
    background-color: #394873;
    padding: 10px;
}

.nav-link {
    font-size: 16px;
    font-weight: bold;
    margin: 0px 30px;
    color: #A2DCF5;
}

.nav-link:hover {
    color: white;
}

.cover-enterBox {
    display: flex;
    justify-content: center;
}

.nav-enterGame {
    width: 130px;
    height: 40px;
    color: black;
    background-color: #A2DCF5;
    border-radius: 25px;
    text-align: center;
}

.nav-enterGame:hover {
    background-color: white;
    color: black;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.cover {
    display: flex;
    justify-content: center;
    width: 100%;
    background-image: url("../images/cover.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;
}

.cover-enterGameDoor {
    display: flex;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 180px;
}

.team-cards {
    background: #A2DCF5;
    border-radius: 20px;
    padding: 25px;
    margin-bottom: 172px;
}

.team-cards img {
    width: 100%;
    border-radius: 20px;
}

.team-cards h2 {
    margin-top: 15px;
}

.team-cards p {
    margin-top: 5px;
}

.team-cards-media {
    display: flex;
    justify-content: right;
    margin-top: 15px;
    margin-right: -10px;
}

.team-cards-media-img {
    width: 30px;
    margin: 0px 10px;
}

.wrapper {
    flex: 1;
}

.about-section {
    padding: 60px 160px;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    height: auto;
}

.about-top {

    justify-content: right;
    background-image: url(../images/about-1.png);

}

.about-bottom {
    justify-content: left;
    background-image: url(../images/about-2.png);
}

.about-des {
    width: 448px;
    height: auto;
    padding: 30px 40px;
    background: #FFF9E4;
    border-radius: 20px;
}

.about-des-title {
    font-size: 36px;
    font-weight: bold;
}

.about-des-text {
    margin-top: 40px;
    font-size: 20px;
    line-height: 150%;
}

@media (max-width: 768px) {

    .about-bottom,
    .about-top {
        padding: 60px 60px;
    }

    .navbar-brand {

        display: block;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .cover-enterGameDoor {
        width: 250px;
    }

    .about-bottom,
    .about-top {
        padding: 60px 30px;
        justify-content: center;
    }

    .about-des {
        background: rgba(255, 249, 228, 0.7);
    }
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background-color: #394873;
    padding: 40px 0px 20px;

}

.footer-media {
    display: flex;
    justify-content: center;
}

.footer-media-img {
    display: block;
    width: 40px;
    margin: 0px 10px;
}

.footer-copyrights {
    display: flex;
    justify-content: center;
    color: #A2DCF5;
    font-size: 12px;
    margin-top: 10px;
}